/* Selectors */

/* Element Selector */
p{
    color: blue;
    font-size: 28px;
}

/* Class Selector */
.class-style{
    color: blue;
    font-size: 24px;
}

/* ID Selector */
#unique-style{
    color: red;
    font-size: 22px;
}

/* Grouping Selector */
h1, h2, h3{
    color: green;
}

/* Descendant Selector */
div p{
    color: purple;
    font-size: 38px;
}

/* Child Selector */
div > p{
    color: grey;
    font-size: 32px;
}

/* Adjacent Sibling Selector */
h2 + p{
    color: teal;
    font-size: 26px;
}

/* General Sibling Selector */
h3 ~ p{
    color: magenta;
    font-size: 20px;
}

/* Attribute Selector */
a[target="_blank"]{
    color: rgb(167, 239, 13);
    font-size: 18px;
}

/* Pseudo-class Selector */
a:hover{
    color: yellow;
    font-size: 16px;
}

/* Pseudo-element Selector */
p::first-letter{
    color: #ed0b0b;
    font-size: 40px;
    font-weight: bold;
}

/* Universal Selector */
*{
    font-family: Arial, sans-serif;
}

/* Combining Selectors */

div p.info{
    color: #1e0fe5;
    font-size: 30px;
}   

div.box + p{
    color: #3f51b5;
    font-size: 34px;
}